table {
  width: 95%;
  align-items: center;
}

.example-header {
  min-height: 64px;
  padding: 18px 24px 0;
}

.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-self: center;
  padding: 8px 8px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}